@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "AR One Sans", sans-serif;
  background: #0f062c;
}

.gradient-span-1 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(49deg, #bfaaff, #f64cff 78%, #ffc553);
  -webkit-background-clip: text;
  background-clip: text;
}



.border-text {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}


.mobile-menu-button {
  /* display: none; Initially hide on larger screens */
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

